<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.open.yaoraotu.remote">

    <application android:allowBackup="true"
        android:supportsRtl="true">
        <!--   mvp 收藏-->
        <activity
            android:name="com.open.yaoraotu.remote.activity.MCollectionGridFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            >
        </activity>
        <!--   mvp 历史记录-->
        <activity
            android:name="com.open.yaoraotu.remote.activity.MHistoryListGridFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            >
        </activity>
    </application>

</manifest>
