<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.open.yaoraotu.mvp">

    <application android:allowBackup="true"
        android:supportsRtl="true">
        <!-- Masonry列表grid -->
        <activity
            android:name="com.open.yaoraotu.activity.MasonryPullGridActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_masonry_pullgrid_desp" >
        </activity>
        <!-- hot top列表 -->
        <activity
            android:name="com.open.yaoraotu.activity.HotTopPullListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_hottop_pulllist_desp" >
        </activity>
        <!-- NewList列表 -->
        <activity
            android:name="com.open.yaoraotu.activity.NewListPullListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_newlist_pulllist_desp" >
        </activity>
        <!-- top theme grid -->
        <activity
            android:name="com.open.yaoraotu.activity.TopThemePullGridActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_top_theme_pullgrid_desp" >
        </activity>
        <!-- menu -->
        <activity
            android:name="com.open.yaoraotu.activity.LeftMenuPullListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_leftmenu_pulllist_desp" >
        </activity>
        <!--submenu Indicator 列表 -->
        <activity
            android:name="com.open.yaoraotu.activity.SubMenuIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_submenu_indicator_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
        <!-- dot viewpager  -->
        <activity
            android:name="com.open.yaoraotu.activity.CommonDotViewPagerFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_dot_viewpager_desp" >
        </activity>
        <!--   slide menu-->
        <activity
            android:name="com.open.yaoraotu.activity.MainSlideMenuActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_slide_menu_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"
            />
        <!-- image list -->
        <activity
            android:name="com.open.yaoraotu.activity.MasonryImagePullListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_imagelist_pulllist_desp" >
        </activity>
        <!-- image viewpager  -->
        <activity
            android:name="com.open.yaoraotu.activity.ImagePagerAdapterFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_image_viewpager_desp" >
        </activity>
    </application>

</manifest>
