<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.open.yaoraotu.m">

    <application android:allowBackup="true"
        android:supportsRtl="true">
        <!-- mvvm menu grid -->
        <activity
            android:name="com.open.yaoraotu.m.activity.MenuPullGridMvvmActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mvvm_menu_pullgrid_desp" >
        </activity>
        <!-- mvvm menu expandable -->
        <activity
            android:name="com.open.yaoraotu.m.activity.GroupMenuExpandableListMvvmActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mvvm_menu_expandable_desp" >
        </activity>
        <!-- mvvm home expandable -->
        <activity
            android:name="com.open.yaoraotu.m.activity.GroupHomeExpandableListMvvmActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mvvm_home_expandable_desp" >
        </activity>
        <!-- mvvm home dot -->
        <activity
            android:name="com.open.yaoraotu.m.activity.HomeDotPagerMvvmActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mvvm_home_dot_desp" >
        </activity>
        <!--  m slide menu-->
        <activity
            android:name="com.open.yaoraotu.m.activity.MSlideMenuActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mvvm_m_slide_menu_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"
            />
    </application>

</manifest>
